/* 
* @Author: anchen
* @Date:   2016-01-22 14:15:51
* @Last Modified by:   anchen
* @Last Modified time: 2016-01-22 14:19:29
*/
body{
            height:650px;
            background:url(assets/imgs/bg1.jpg) no-repeat;
             background-size: 100%;
           /* -moz-background-size: 100% 100%; 
            -o-background-size: 100% 100%; 
            -webkit-background-size: 100% 100%;  */
            filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='assets/imgs/bg1.jpg',sizingMethod='scale'); 
        }

         .content-one input{
        width: 200px;
    }
    
